*.iml
*.ipr
*.iws
.idea/
.*.sw[a-z]
*.un~
Session.vim
.*
*.bak
!.gitignore
git2changes.sh
*.log
*.local.*
git2changes.sh

# /
/vendor
/.idea
/.settings
/.buildpath
/*.sublime-project
/*.sublime-workspace

*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/out

src/main/resources/config.properties
/lib
dataset-modified-small/*
dataset-resized/*

